div {
  width: 100px;
  height: 100px;
  z-index: 0;
}

#one {
  background-color: blue;
}

#two {
  position: relative;
  background-color: red;
  left: 20px;
  top: 10px;
}

#three {
  background-color: yellow;
}

/* div:hover {
  position: relative;
  left: 20px;
  top: 10px;
  z-index: 1;
} */