html {
  background-color: gray;
}

body {
  display: flex;
  background-color: white;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.circle-div {
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color:  rgb(102,0,0);
  padding: 25px 20px;
}

.circle-div:hover {
  color: #133;
  background-color: rgb(193,255,0);
  transition: background-color 1.85s ease-in-out, box-shadow .75s ease-in-out, color 1.15s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  
}