.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.circle {
  border-radius: 50%;
}

span {
  border: 3px solid black;
  padding: 0px 8px;
}

.rounded {
  border-radius: 50px;
}

h1 {
  font-family: 'Press Start 2P';
}

div > div {
  font-size: 2rem;
}