div {
  margin-bottom: 35px;
}

div h2, h1 {
  margin-bottom: 2px;
}

p {
  margin-top: 2px;
}

/* 1. serif */
.serif {
  font-family: 'Times New Roman', Times, serif;
}

/* 2. sans-serif */
.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

/* 3. google fonts */
.google-font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
}

.google-font p #normal {
  font-weight: 400;
  font-size: 1.25rem;
}

/* 4. uppercase and italicize */
.uppercase-italic {
  text-transform: uppercase;
  font-style: italic;
}

/* 5. letter spacing on span */
.set-spacing  p span {
  letter-spacing: .89rem
}

/* 6. h1 shadow */
.h1-shadow h1 {
  text-shadow: 2px 2px 3px #424242;
}

/* 7. style anchor tag and hover */
.modify-anchor-style p a {
  text-decoration: none;
}

.modify-anchor-style p a:hover {
  text-decoration: underline;
}

/* 8. line-through span */
.strikethrough p span{
  text-decoration: line-through;
  font-size: 1.3rem;
}

/* 9. Indent the first line of a paragraph */
.line-indent p {
  text-indent: 60px;
}