h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 1.01rem;
}

main {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 8px #232a34;
  padding: 12px;
}

#brand h1 {
  color: white;
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
}

.section-header h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#nav-bar {
  display: flex;
  background-image: url("./brushstrokes-02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  height: 50vh;
  background-color: gray;
}


#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-links li {
  display: inline;
  margin: 8px;
}

#nav-links li > a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 2px 6px;
  border-bottom: 3px solid rgb(231, 231, 231);
}

#nav-links li > a:hover {
  color: white;
  /* border: 1px solid white; */
  background-color: rgba(0, 0, 0, .2);
  border-top: 3px solid  rgb(200, 200, 200);
  border-left: 3px solid rgb(200, 200, 200);
  border-right: 3px solid rgb(200, 200, 200);
  margin: 0 -3px;
}

/* font-family: 'Bree Serif', serif; */